body {
  font-weight: 300;
  margin: 16px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 16px 0;
}

header h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

header vaadin-combo-box {
  margin-left: 16px;
  min-width: 300px;
}

main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
}

news-article h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

news-article a,
news-article a:visited {
  text-decoration: none;
  color: inherit;
}

news-article img {
  width: 100%;
}
